/* intro page */

.hidden {
  display: none;
}

.mode-root {
  display: flex;
  justify-content: center;  
}

.searchbar {
  flex-basis: 60vw;
  max-width: 600px;
  border: 2px solid black;
  padding: 20px;
  margin-top: 30vh;
  flex-wrap: wrap;
}

.search-form {
  display: flex;
}

.area {
  
  flex: 2 1 0;
}

.distance {
  
  flex: 1 1 0;
} 

.area , .distance {
  font-size: 20px;
  margin-bottom: 15px;
}

.filter-by-diet {
  display: flex;
  justify-content: space-evenly;
}

