  
.hidden {
  display: none;
}

.mode-root {
  display: flex;
  justify-content: center;  
}

.mode-root .searchbar {
  flex-basis: 60vw;
  max-width: 600px;
  border: 2px solid black;
  padding: 20px;
  margin-top: 30vh;
  flex-wrap: wrap;
  flex-direction: row;
}

.mode-root .searchbar .search-form {
  display: flex;
  flex-direction: column;
  
}

.mode-root .searchbar .search-form .area {
  order: 1;
  flex: 1;
 }

.mode-root .distance {
  order: 2;
  } 

.mode-root .area , .mode-root .distance {
  font-size: 20px;
  margin-bottom: 15px;
}

.mode-root .searchbar .filter-by-diet {
  display: flex;
  order: 3;
  align-self: center;
  -webkit-appearance: none;
  }

.mode-root .submit {
  order: 5;
  align-self: flex-end;
}

main {
  display: flex;
  flex-direction: column;
 }

.searchbar {
  flex-grow: 1;
  height: 200px;
  border: 2px solid black;
  flex-wrap: wrap;
  flex-direction: row;
}

.searchbar .search-form {
  display: flex;
  flex-direction: column;
}

.searchbar .search-form .area {
  order: 1;
  flex: 1;
 }

.distance {
  order: 2;
  } 

.searchbar .filter-by-diet {
  display: flex;
  order: 3;
  align-self: center;
}

.sortbar {
  order: 4;
}

.submit {
  order: 5;
  justify-self: flex-end;
}

/* main {
  display: flex;
  flex-direction: column;
}

.searchbar {
  display: flex;
  flex-grow: 1;
  border: 2px solid black;
  padding: 20px;
  flex-wrap: wrap;
  }

.search-form {
  display: flex;
  flex-wrap: wrap;
}

.area {
  order: 1;
  flex: 1;
 }

.distance {
  order: 2;
  } 

.area , .distance {
  font-size: 20px;
  margin-bottom: 15px;
}

.filter-by-diet {
  display: flex;
  order: 3;
}

.submit {
  order: 5;
}

.sortbar {
  order: 4;
}

.js-results-list {
  display: flex;
  flex-direction: column;
}

.js-results-list li {
  border: 2px solid black;
} */


/* REPONSIVE DESIGN ////////////////////////*/
/* 480 /////////////////////////////////////*/
@media screen and (min-width: 680px) {}
/* 768 /////////////////////////////////////*/
@media screen and (min-width: 768px) {}
/* 1024 /////////////////////////////////////*/
@media screen and (min-width: 1024px) {}
/* 1280 /////////////////////////////////////*/
@media screen and (min-width: 1280px) {}


#mapid { 
  height: 600px; 
}


/* 768 /////////////////////////////////////*/
@media screen and (min-width: 768px) {}
/* 1024 /////////////////////////////////////*/
@media screen and (min-width: 1024px) {}
/* 1280 /////////////////////////////////////*/
@media screen and (min-width: 1280px) {}